body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #222222;
}

form, h1{
    width: 50%;
    margin: auto;
}

h1{
    color: aliceblue;
    text-align: center;
    padding: 20px 0;
}

input{
    margin: 20px 0;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

img{
   width: 100px; 
}

td{
    vertical-align: middle;
}
/* 
.inputs{
    display: flex;
} */

.inputs label{
    color: aliceblue;
/*     padding-top: 15px;
    padding: 15px 10px 0 10px; */
}