
.carousel-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    width: 100%;
    height: auto;
}

.btn-carrossel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #33333361;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}